@model IEnumerable<QLSV.Models.SinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tensv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namsinhsv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lopsv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTsv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namsinhsv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lopsv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTsv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Masv }) |
            @Html.ActionLink("Details", "Details", new { id=item.Masv }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Masv })
        </td>
    </tr>
}

</table>
